/java/ramv/docker/data
/java/ramv/target
/java/ramv/.mvn
/java/ramv/.vscode
/recursos/chromeDrivers/
recursos/.~*.*
java/ride/key/cert.pem
java/ride/key/key.pem
java/ramv/src/main/java/com/aplicaciones13/placas/cliente/y5U3G170ZbT7jrSzc0_V92WpLUADdF2xjX1ypV-37Dk.webp
